<% if @join and !@have_unread and @read < message.id %>
  <% @have_unread = true %>
  <div class="unread-msgs">
    <div class="unread-msgs-label">
      Unread Messages
    </div>
  </div>
<% end %>
<div class="day-msgs">
  <ts-message class="message">
  <div class="message-gutter">
    <%= image_tag("doge.jpg", :alt => "doge") %>
  </div>
  <div class="message-content">
    <div class="message-content-header"><%= message.user.username %></div>
    <div class="message-content-time"><%= message.created_at.strftime("%I:%M %p") %></div>
    <div class="message-body"><%= simple_format message.content %></div>
  </div>
  </ts-message>
</div>
