<div class="client-channels-list-container">
    <div id="col-channels-bg"></div>
    <%# <div id="col-channels-overlay"></div> %>
    <div id="team-menu">
        <%# <div class="placeholder-shimmer-clipper">          %>
        <%#     <div class="placeholder-shimmer-bg-wrapper">   %>
        <%#         <div class="placeholder-shimmer-bg"></div> %>
        <%#     </div>                                         %>
        <%# </div>                                             %>
        <%# <button class="notifications-menu-btn"></button>   %>
        <div class="team-name-container">
            <%# <button class="team-name-caret"></button> %>
            <span id="team-name">Slacc</span>
        </div>
        <%# <div id="team-menu-overlay">              %>
        <%#     <div class="overlay-mock-text"></div> %>
        <%# </div>                                    %>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <div id="presence-container"><i id="presence"></i></div>
        <% end %>
        <span id="team-header-user-name" class="current-user-name"><%= current_user.username %></span>
    </div>
    <div id="col-channels" class="channels-list-holder">
        <%# <div class="placeholder-shimmer-clipper">          %>
        <%#     <div class="placeholder-shimmer-bg-wrapper">   %>
        <%#         <div class="placeholder-shimmer-bg"></div> %>
        <%#     </div>                                         %>
        <%# </div>                                             %>
        <div id="channels-nav"></div>
        <div id="channels-scroller">
            <%# <ul id="all-unreads-list"></ul>                %>
            <%# <div id="unread" role="navigation"></div>      %>
            <%# <div id="starred-div" role="navigation"></div> %>
            <div id="channels" role="navigation">
                <%= link_to "+", new_channel_path, :class => "channels-list-new-btn link-unstyle" %>
                <h2 id="channels-header" class="hoverable">
                    <%= link_to channels_path do %>
                        <span class="link-wrapper"></span>
                    <% end %>
                    <button class="channel-list-header-label btn-unstyle">Channels
                        <span class="header-count">(
                            <span id="channel-header-count"><%= channels.size %></span>
                            )</span>
                    </button>
                </h2>
                <ul id="channel-list">
                    <%= render partial: 'channels/channel', collection: channels %>
                </ul>
            </div>
            <%# <div id="direct-messages" role="navigation"></div>                             %>
            <%# <button id="channel-list-invites-link" class="channel-list-add-link"></button> %>
            <%# <div id="everything"></div>                                                    %>
        </div>
        <%# <a id="channel-scroll-up"></a>          %>
        <%# <a id="channel-scroll-down"></a>        %>
        <%# <div id="col-channels-footer">          %>
            <%#     <div id="quick-switcher-btn"></div> %>
            <%# </div>                                  %>
    </div>
</div>
